.navItem {
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 0;
    color: rgb(194, 189, 189);
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.navItem:hover {
    color: rgb(246, 246, 246);
}

.burger {
    height: 25px;
    width: 25px;
}